:root {
  --button-spacing: 5px 10px;

  --color-white: #fff;
  --color-black: #000;

  --color-primary: #006767;
  --color-secondary: var(--color-black);
  --color-tertiary: var(--color-white);
  --color-accent: #c0c0c0;

  --color-button-background: var(--color-secondary);
  --color-button-text: var(--color-tertiary);
  --color-logo: var(--color-secondary);

  --font-body: normal 16px/1.5 var(--typography-sans-serif);
  --font-button: bold 20px/1.5 var(--typography-sans-serif);
  --font-logo: 700 48px/1.5 var(--typography-logo);
  --font-nav: bold 24px/2 var(--typography-sans-serif);

  --header-background-color: var(--color-primary);

  --responsive-wrapper-max-width: 90%;
  --responsive-spacing: 10px;

  --spacing-wrapper: 0 auto;
  --spacing-wrapper-padding: 20px;

  --typography-logo: 'Merienda', 'Brush Script MT', cursive;
  --typography-sans-serif: 'Verdana', sans-serif;
}

/* General */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font: var(--font-body);
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font: var(--font-body);
}

.tow__wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--spacing-wrapper);
  padding: var(--spacing-wrapper-padding);
}

.tow__wrapper--half {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--responsive-spacing);
}

.tow__wrapper--half:nth-child(3n + 2) > .tow-card {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.tow__wrapper--half:nth-child(3n + 3) > .tow-card {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.tow-card {
  border-radius: 8px;
  display: flex;
  padding: var(--responsive-spacing);
  width: 100%;
}


/* Header */

header {
  align-items: center;
}

nav ul,
nav li {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.tow-header--primary {
  background-color: var(--header-background-color);
}

.tow-header__nav {
  font: var(--font-nav);
  text-align: center;
}

.tow-header__nav a {
  border: 4px solid var(--header-background-color);
  color: var(--color-tertiary);
  padding: var(--button-spacing);
  text-decoration: none;
  text-transform: uppercase;
}

.tow-header__nav a:hover {
  border-color: var(--color-accent);
  border-radius: 10px;
  color: var(--color-accent);
}

.tow-header__nav .tow-header__logo {
  color: var(--color-logo);
  font: var(--font-logo);
  text-decoration: none;
}

.tow-header__nav--center {
  padding-bottom: var(--responsive-spacing);
}

/* Main */


#about {
  background-color: var(--color-secondary);
  color: #fff;
}

.tow-section__title {
  font: var(--font-logo);
  margin-bottom: var(--responsive-spacing);
}

.tow-section__subtitle {
  font-family: var(--typography-sans-serif);
}

.tow-photo {
  border-radius: 50%;
  margin: 0 auto;
  max-width: 100%;
  width: 350px;
}


#connect {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
}

.tow-section__subtitle {
  text-align: center;
}

.tow-connect__link-wrapper {
  display: flex;
  justify-content: center;
}

.tow-connect__link {
  padding: 10px;
}

.fa-twitter-square,
.fa-linkedin {
  fill: var(--color-tertiary);
  transition: background-color 0.5s ease;
  width: 40px;
}

.fa-twitter-square:hover,
.fa-linkedin:hover {
  fill: var(--color-secondary);
}


/* Misc */

.button,
button {
  background-color: var(--color-button-background);
  border: 2px solid var(--color-button-background);
  border-radius: 8px;
  color: var(--color-button-text);
  font: var(--font-button);
  padding: var(--button-spacing);
  text-decoration: none;
}

.button:hover,
button:hover {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

/*** Responsive ***/

@media (min-width: 550px) {

  nav ul,
  nav li {
    display: flex;
  }

  nav li {
    padding: 0 var(--responsive-spacing);
  }

  .tow__wrapper {
    max-width: var(--responsive-wrapper-max-width);
    width: 100%;
  }
  
  .tow-header__nav {
    align-items: center;
    display: flex;
  }

  .tow-header__nav--center {
    flex-grow: 1;
    justify-content: center;
    padding-bottom: 0;
  }

}

@media (min-width: 768px) {
  :root {
    --responsive-spacing: 15px;
  }
}

@media (min-width: 1024px) {
  .tow__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tow__wrapper--half {
    flex: 0 0 calc(50% - var(--responsive-spacing));
  }

  .tow__wrapper--half:nth-child(odd) {
    margin-right: var(--responsive-spacing);
  }

  .tow__wrapper--half:nth-child(even) {
    margin-left: var(--responsive-spacing);
  }
}

@media (min-width: 1366px) {
  :root {
    --responsive-wrapper-max-width: 1140px;
    --responsive-spacing: 20px;
  }

}

@media (min-width: 1920px) {
  :root {
    --responsive-wrapper-max-width: 1366px;
  }

}